/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(220, 68%, 54%);
  --first-color-lighten: hsl(220, 68%, 97%);
  --title-color: hsl(220, 48%, 28%);
  --text-color: hsl(220, 12%, 45%);
  --body-color: hsl(220, 100%, 99%);
  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
    background-color: var(--body-color);
    z-index: var(--z-fixed);
  }
  
  /*=============== NAV ===============*/
  .nav {
    height: var(--header-height);
  }
  .nav__data {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav__logo {
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    transition: color 0.3s;
  }
  .nav__logo i {
    font-size: 1.25rem;
  }
  .nav__logo:hover {
    color: var(--first-color);
  }
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
  }
  .nav__toggle-menu, .nav__toggle-close {
    font-size: 1.25rem;
    color: var(--title-color);
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity 0.1s, transform 0.4s;
  }
  .nav__toggle-close {
    opacity: 0;
  }
  @media screen and (max-width: 1118px) {
    .nav__menu {
      background-color: var(--body-color);
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      padding-block: 1.5rem 4rem;
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .nav__menu::-webkit-scrollbar {
      width: 0.5rem;
    }
    .nav__menu::-webkit-scrollbar-thumb {
      background-color: hsl(220, 12%, 70%);
    }
  }
  .nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  .nav__link:hover {
    background-color: var(--first-color-lighten);
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .nav__toggle-menu {
    opacity: 0;
    transform: rotate(90deg);
  }
  
  .show-icon .nav__toggle-close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__button {
    cursor: pointer;
  }
  .fa-caret-down{
    font-size: 1.5rem;
    font-weight: initial;
    transition: transform 0.4s;
  }
  .dropdown__content, .dropdown__group, .dropdown__list {
    display: grid;
  }
  .dropdown__container {
    background-color: var(--first-color-lighten);
    height: 0;
    overflow: hidden;
    transition: height 0.4s;
  }
  .dropdown__content {
    row-gap: 1.75rem;
  }
  .dropdown__group {
    padding-left: 2.5rem;
    row-gap: 0.5rem;
  }
  .dropdown__group:first-child {
    margin-top: 1.25rem;
  }
  .dropdown__group:last-child {
    margin-bottom: 1.25rem;
  }
  .dropdown__icon i {
    font-size: 1.25rem;
    color: var(--first-color);
  }
  .dropdown__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    color: var(--title-color);
  }
  .dropdown__list {
    row-gap: 0.25rem;
  }
  .dropdown__link {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
    transition: color 0.3s;
  }
  .dropdown__link:hover {
    color: var(--title-color);
  }
  
  /* Rotate dropdown icon */
  .show-dropdown .fa-caret-down{
    transform: rotate(180deg);
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 300px) {
    .dropdown__group {
      padding-left: 1.5rem;
    }
  }
  /* For large devices */
  @media screen and (min-width: 1118px) {
    /* Nav */
    .nav {
      height: calc(var(--header-height) + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .nav__toggle {
      display: none;
    }
    .nav__list {
      display: flex;
      column-gap: 3rem;
      height: 100%;
    }
    .nav li {
      display: flex;
    }
    .nav__link {
      padding: 0;
    }
    .nav__link:hover {
      background-color: initial;
    }
    /* Dropdown */
    .dropdown__button {
      column-gap: 0.25rem;
      pointer-events: none;
    }
    .dropdown__container {
      height: max-content;
      position: absolute;
      left: 0;
      right: 0;
      top: 6.5rem;
      background-color: var(--body-color);
      box-shadow: 0 6px 8px hsla(220, 68%, 12%, 0.05);
      pointer-events: none;
      opacity: 0;
      transition: top 0.4s, opacity 0.3s;
    }
    .dropdown__content {
      grid-template-columns: repeat(4, max-content);
      column-gap: 6rem;
      max-width: 1120px;
      margin-inline: auto;
    }
    .dropdown__group {
      padding: 4rem 0;
      align-content: baseline;
      row-gap: 1.25rem;
    }
    .dropdown__group:first-child, .dropdown__group:last-child {
      margin: 0;
    }
    .dropdown__list {
      row-gap: 0.75rem;
    }
    .dropdown__icon {
      width: 60px;
      height: 60px;
      background-color: var(--first-color-lighten);
      border-radius: 50%;
      display: grid;
      place-items: center;
      margin-bottom: 1rem;
    }
    .dropdown__icon i {
      font-size: 2rem;
    }
    .dropdown__title {
      font-size: var(--normal-font-size);
    }
    .dropdown__link {
      font-size: var(--small-font-size);
    }
    .dropdown__link:hover {
      color: var(--first-color);
    }
    .dropdown__item {
      cursor: pointer;
    }
    .dropdown__item:hover .fa-caret-down{
      transform: rotate(180deg);
    }
    .dropdown__item:hover > .dropdown__container {
      top: 5.5rem;
      opacity: 1;
      pointer-events: initial;
      cursor: initial;
    }
  }
  @media screen and (min-width: 1152px) {
    .container {
      margin-inline: auto;
    }
  }

/*section start */
section{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.parsonaltext, .parsonalimage{
    width: 40%;
}
.parsonaltext{
    margin-left: 200px;
    margin-bottom: 130px;
}
.parsonalimage{
    padding-right: 0px;
}
.parsonalimage img{
    max-width: 100%;
    height: auto;
}
.parsonaltext h3{
    font-weight: normal;
}
.parsonaltext h1{
    font-size: 50px;
}
.parsonaltext p{
    color: rgba(158, 154, 154, 0.781);
    font-size: 18px;
}
.parsonaltext input{
    padding: 8px 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(106, 171, 245);
    margin-top: 20px;
    cursor: pointer;
}
.parsonaltext input:hover{
    background-color: rgba(201, 31, 65, 0.801);
    color: #192a56;
    transition: all ease-in 0.5s;
    font-weight: bold;
}
        /*section End */

.section1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 div{
    width: 40%;
    margin: 0px auto;
}
.section1 img{
    width: 55%;
    height: auto;
    
}
.section1 .image2{
    padding-left: 250px;
}
.section1 .text2{
    width: 70%;
}
.text2 h4{
    font-weight: normal;
    color: rgba(0,0,0,0.7);
    margin-top: -95px;
    font-size: 15px;
}
.text2 h2{
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.text2 p{
    margin-right: 15%;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
}
.text2 a{
    padding-bottom: 30px;
}
.text2 a input{
    padding: 8px 30px;
    outline: none;
    border: none;
    background-color: rgb(106, 171, 245);
    color: #fff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.text2 a input:hover{
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
    cursor: pointer;
}
/*section three start*/

.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.hedingtext h1{
    font-size: 40px;
    line-height: 10px;
}
.hedingtext p{
    width: 670px;
    color: rgba(0,0,0,0.4);
    margin: 0 auto;
}
.service{
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
}
.sar1, .ser2{
    width: 100%;
    overflow: hidden;
}
.sar1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}
.ser2{
    padding-top: 100px;
}
.service i{
    font-size: 50px;
    color: rgb(43, 143, 143);
}
.service p{
    width: 400px;
    margin: 0 auto;
    color: rgba(0,0,0,0.4);
}
.sar1 div h1:hover{
    color: rgba(130, 110, 245, 0.705);
}
.ser2 div h1:hover{
    color: rgba(45, 136, 255, 0.705);
}
.sar1 div i:hover{
    color: rgba(13, 243, 166, 0.959);
}
.ser2 div i:hover{
    color: rgba(13, 243, 166, 0.959);
}
/*section three end*/

/*section four start*/
.section4{
    width: 100%;
    height: 300px;
    background-color: #8293ff;
    margin-top: 150px;
    margin-bottom: 10px;
    
}
.section4 div{
    width: 20%;
    margin: 0 auto;
    position: relative;
    
}
.section4 h1{
    font-size: 30px;
}
.section4 h1{
    color: #fff;
    text-align: center;
    line-height: 0px;
    font-weight: bold;
}
.section4 p{
    text-align: center;
    color: #fff;
}
/*section four end*/

        /*protfolio section start*/

.section5{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 150px;
    margin-bottom: 80px;
    display: block;
}
.section5 .text5{
    text-align: center;
    margin: 0 auto;
    line-height: 10px;
}
.section5 h1{
    color: rgba(0,0,0,0.9);
    font-size: 50px;
}
.section5 p{
    color: rgba(0,0,0,0.4);
}
.section5 .hedd{
    width: 100%;
    height: 200px;
    display: block;
    text-align: center;
    margin-left: 500px;
    margin-top: 120px;
    
}

.section5 .hedd ul{
    list-style: none;
}
.hedd li{
    text-align: center;
}
.section5 .hedd ul li{
    float: left;
    padding-left: 60px;
}
.section5 .hedd ul li a{
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-size: 15px;
}
.hedd ul li a:hover{
    color: #16d6dd;
}
.section5 .imgg{
    width: 75%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 0px;
    cursor: pointer;
}
.section5 .imgg div{
    width: 400px;
    height: 300px;
    padding-bottom: 100px;
    text-align: center;
}
.section5 .imgg h1{
    font-size: 30px;
    line-height: 2px;
}
.section5 figure{
    background: linear-gradient(40deg, #16d6dd 50%, #8293ff 100%);
    width: 400px;
    height: 300px;
}
.section5 figure:hover img{
    opacity: 0.3;
}

    /*priceing part start*/

    .section6{
        width: 100%;
        height: 700px;
        display: block;
    }
    .section6 .arifa{
        text-align: center;
        padding-top: 50px;
    }
    .section6 .arifa h1{
        font-size: 45px;
        line-height: 0;
    }
    .section6 .arifa p{
        color: rgba(0, 0, 0, 0.295);
        font-family: Arial, Helvetica, sans-serif;
    }
    .section6 .pricelist{
        width: 80%;
        height: 600px;
        display: flex;
        justify-content: space-around;
        margin: 0 auto;
    }
    .section6 .price1{
        width: 300px;
        height: 580px;
        background-color: #d3cfcf;
        border: 1px solid rgba(231, 217, 217, 0.507);
        text-align: center;
        margin-top: 40px;
        border-radius: 20px;
    }
    .section6 .pricelist h1{
        font-size: 60px;
        padding-top: 6px;
    }
    .section6 .pricelist h2{
        font-size: 40px;
        font-weight: 300;
    }
    .section6 .pricelist h1, h2{
        line-height: normal;
    }
    .section6 .pricelist .price1 hr{   
        color:#fff;
    }
    .section6 .pricelist input{
        outline: none;
        padding: 6px 60px;
        background-color: #16d6dd;
        font-weight: bold;
        font-size: 30px;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }
    .section6 .price1:hover{
        background: linear-gradient(30deg, #8293ff 40%, #16d6dd 100%);
        border-radius: 10px;
        color: #fff;
    }
    .section6 .price1:hover input{
        
        background-color: #fff;
    }

    /* Priceing part End /*

    /* footer Part Start */
footer{
        width: 100%;
        height: 300px;
        background-color: #192a56;
        position: absolute;
        margin-top: 20%;
        color: #fff;
}
footer .foot{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    margin-top: 80px;
}
footer .foot .foot1 p{
    color: rgba(175, 171, 171, 0.7);

}
footer .foot .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 180px 10px 10px;
}
footer .foot .foot1 button{
    font-size: 16px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 8px 14px;
    background-color:#16d6dd;
}
