body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background-color: rgb(6, 110, 110);
    
}
header div{
    float: left;
}
.logo img{
    width: 200px;
    height: 50px;
    padding-top: 20px;
    padding-left: 200px;
}
header .nevbar{
    position: absolute;
    right: 250px;
    top: 20px;
}
header .nevbar ul{
    list-style: none;
}
header .nevbar ul li{
    float: left;
    padding-left: 50px;
}
header .nevbar ul li a{
    text-decoration: none;
    color: rgb(0, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 2px 2px 30px rgba(0, 255, 255, 0.1);
}
header .nevbar ul li a:hover{
    color: rgb(0, 255, 255);
}
/*section start */
section{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.parsonaltext, .parsonalimage{
    width: 40%;
}
.parsonaltext{
    margin-left: 200px;
    margin-bottom: 130px;
}
.parsonalimage{
    padding-right: 0px;
}
.parsonalimage img{
    max-width: 100%;
    height: auto;
}
.parsonaltext h3{
    font-weight: normal;
}
.parsonaltext h1{
    font-size: 50px;
}
.parsonaltext p{
    color: rgba(158, 154, 154, 0.781);
    font-size: 18px;
}
.parsonaltext input{
    padding: 8px 30px;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: rgb(106, 171, 245);
    margin-top: 20px;
}
.parsonaltext input:hover{
    background-color: rgba(201, 31, 65, 0.801);
    color: #192a56;
    transition: all ease-in 0.5s;
    font-weight: bold;
}
        /*section End */

.section1{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1 div{
    width: 40%;
    margin: 0px auto;
}
.section1 img{
    width: 55%;
    height: auto;
    
}
.section1 .image2{
    padding-left: 250px;
}
.section1 .text2{
    width: 70%;
}
.text2 h4{
    font-weight: normal;
    color: rgba(0,0,0,0.7);
    margin-top: -95px;
    font-size: 15px;
}
.text2 h2{
    font-weight: bold;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
.text2 p{
    margin-right: 15%;
    font-size: 15px;
    color: rgba(0,0,0,0.4);
}
.text2 a{
    padding-bottom: 30px;
}
.text2 a input{
    padding: 8px 30px;
    outline: none;
    border: none;
    background-color: rgb(106, 171, 245);
    color: #fff;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.text2 a input:hover{
    background-color: rgb(0, 255, 255);
    border-radius: 10px;
}
/*section three start*/

.section3{
    width: 100%;
    height: 650px;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.hedingtext h1{
    font-size: 40px;
    line-height: 10px;
}
.hedingtext p{
    width: 670px;
    color: rgba(0,0,0,0.4);
    margin: 0 auto;
}
.service{
    width: 80%;
    margin: 0 auto;
    padding-top: 120px;
}
.sar1, .ser2{
    width: 100%;
    overflow: hidden;
}
.sar1 div, .ser2 div{
    width: 32%;
    float: left;
    padding: 5px;
    margin: 0 auto;
}
.ser2{
    padding-top: 100px;
}
.service i{
    font-size: 50px;
    color: rgb(43, 143, 143);
}
.service p{
    width: 400px;
    margin: 0 auto;
    color: rgba(0,0,0,0.4);
}
.sar1 div h1:hover{
    color: rgba(130, 110, 245, 0.705);
}
.ser2 div h1:hover{
    color: rgba(45, 136, 255, 0.705);
}
.sar1 div i:hover{
    color: rgba(13, 243, 166, 0.959);
}
.ser2 div i:hover{
    color: rgba(13, 243, 166, 0.959);
}
/*section three end*/

/*section four start*/
.section4{
    width: 100%;
    height: 300px;
    background-color: #8293ff;
    margin-top: 150px;
    margin-bottom: 10px;
    
}
.section4 div{
    width: 20%;
    margin: 0 auto;
    position: relative;
    
}
.section4 h1{
    font-size: 30px;
}
.section4 h1{
    color: #fff;
    text-align: center;
    line-height: 0px;
    font-weight: bold;
}
.section4 p{
    text-align: center;
    color: #fff;
}
/*section four end*/

        /*protfolio section start*/

.section5{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 80px;
    display: block;
}
.section5 .text5{
    text-align: center;
    margin: 0 auto;
    line-height: 10px;
}
.section5 h1{
    color: rgba(0,0,0,0.9);
    font-size: 50px;
}
.section5 p{
    color: rgba(0,0,0,0.4);
}
.section5 .hedd{
    width: 100%;
    height: 200px;
    position: absolute;
    text-align: center;
    margin-left: 500px;
    margin-top: 80px;
    
}

.section5 .hedd ul{
    display: flex;
    list-style: none;
}
.hedd li{
    text-align: center;
    display: flex;
}
.section5 .hedd ul li{
    float: left;
    padding-left: 60px;
}
.section5 .hedd ul li a{
    text-decoration: none;
    text-align: center;
    color: rgba(0,0,0,0.7);
}
.hedd ul li a:hover{
    color: #16d6dd;
}
